.mentions {
  width: 100%;
  padding: 10px;
  max-width: 850px;
  margin: 0 auto 50px auto;
}

.mentions h1,
.mentions h2,
.mentions h3 {
  margin: 15px 0 25px 0;
}

.mail-img {
  display: inline-block;
  margin-bottom: -4px;
  margin-left: 3px;
}
