#why h2 {
  margin-bottom: 50px;
}
.mgn-top {
  margin-top: 20px;

  position: relative;
  z-index: 1;
}
.why-btn {
  display: block;
  background-color: #8d13af;
  border: 2px solid #8d13af;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
}
.why-btn:hover {
  background-color: white;
  color: #8d13af;
}
