.error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #29297f;
  margin-top: 25px;
}
.fof-img-container {
  position: relative;
  width: 20vw;
  height: 20vw;
}
.fof-img-container img {
  position: relative;
}
.four-o-four {
  font-size: 10vw;
}
.oups {
  text-align: center;
  font-size: 3vw;
}
.error a {
  display: block;
  text-align: center;
  border: 1px solid #29297f;
  padding: 5px;
  text-decoration: none;
  color: #29297f;
  margin-top: 20px;
  font-size: 3vw;
  border-radius: 10px;
}
.error a:visited {
  color: #29297f;
}
.error a:hover {
  color: white;
  background-color: #29297f;
}

.gradient-text {
  background: linear-gradient(to right, #628ec4, #6463a9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
