.about {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 0;
  margin-top: 20px;
  justify-content: space-between;
  /*color: #29297f; */
  font-size: 0.8rem;
  padding: 0 30px;
}

.about-left,
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-left {
  width: 100%;
}
.about-left h2 {
  /* color: #29297f; */
  text-align: left;
  margin-bottom: 20px;
}
.about-left p {
  margin-bottom: 20px;
}
.about-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.about-right img {
  object-fit: cover;
  height: 100%;
  width: auto;
  margin-bottom: 15px;
}

.about-footer {
  display: flex;
  justify-content: center;
}
.about-footer a {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 5px;
}
@media screen and (min-width: 600px) {
  .about {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1150px) {
  .about {
    flex-direction: row;
    padding-top: 25px;
    font-size: 1.2rem;
  }
  .about-left {
    width: 66%;
  }
  .about-right {
    width: 34%;
  }
}
