.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.skill-logo {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.skill-logo img {
  width: 30px;
  height: 30px;
}
.skill-name {
  flex: none;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
}
.skill-bar-back {
  width: 500px;
  height: 18px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
}
.skill-bar-progress {
  width: 0;
  height: 100%;
  color: white;
  text-align: right;

  transition: width 1s ease-out;
  padding-bottom: 3px;
  line-height: 1rem;
}
.percent {
  margin-left: 10px;
}
@media screen and (min-width: 600px) {
  .skill-name {
    font-size: 1.5rem;
  }
  .skill-logo,
  .skill-logo img {
    width: 75px;
    height: 75px;
  }

  .skill-bar-back {
    height: 24px;
  }
  .skill-bar-progress {
    line-height: inherit;
  }
  .skill-container {
    width: 150px;
    height: 150px;
  }
}
